{
	"root": true,
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:react-hooks/recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": { "project": ["./tsconfig.json"] },
	"plugins": ["@typescript-eslint", "react", "react-hooks"],
	"rules": {
		"@typescript-eslint/strict-boolean-expressions": "off",
		"@typescript-eslint/no-empty-function": "off",
		"react/react-in-jsx-scope": "off",
		"react-hooks/rules-of-hooks": "error",
		"react/display-name": "off"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
